:root{
    --bg-color: #fff;
    --light-bg: #f6f8fd;
    --devider-bg: #e4e9f2;
    --accent-color: #ff7e1b;
    --accent-color-hover: #ffab6a;
    --accent-color-light: #ffeee2;
    --text-color: #697070;
    --text-color-dark: #1d2026;
    --body-font-family: "Kumbh Sans", "Arial", sans-serif;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}


*:focus{
    outline: 2px dashed var(--accent-color);
    outline-offset: 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--body-font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}


/* AUTHOFILL STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgb(52, 49, 61);
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}


/* LOGO */
.logo {
display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}


.logo__img {
    display: block;
    width: 137px;
    height: 20px;
    object-fit: contain;
}



/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* SITENAV */
.sitenav__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item{
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link{
    display: block;
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover{
    color: var(--text-color-dark);
}

.sitenav__link:hover::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: '';
}


/* BUTTONS */
.button {
    display: inline-block;
    padding: 0;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--accent-color);
    color: #fff;
    overflow: hidden;
    text-align: center;
    transition: transform .3s ease;
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button:active {
    /* opacity: 0.6; */
    transform: translateY(3px);
}

.button--block {
    display: flex;
    width: 100%;
}

.button--wide {
    min-width: 272px;
}


.button__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 22px 20px 18px;
}

.button__prepend{
    margin-right: 16px;
}



/* SHOPPING CART PRODUCTS */
.shopping-cart-products {
    padding: 0;
    margin: 0;
    list-style: none;
}

.shopping-cart-products__item:not(:last-child) {
    margin-bottom: 16px;
}

.shopping-cart__products {
    margin-bottom: 24px;
}

/* ITEM SHOPPING CART PRODUCTS  */
.item-shopping-cart-products {
    display: flex;
    align-items: flex-start;
}

.item-shopping-cart-products__img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 4px;
    object-fit: cover;
}

.item-shopping-cart-products__info {
    flex-grow: 1;
    margin-right: 18px;
    overflow: hidden;
}

.item-shopping-cart-products__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}

.item-shopping-cart-products__subtotal{
    color: var(--text-color-dark);
}

.item-shopping-cart-products__remove-btn {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    align-self: center;
    color: #c3cad9;
    cursor: pointer;
}

.item-shopping-cart-products__remove-btn:hover {
    color: var(--accent-color);
}

.item-shopping-cart-products__remove-btn:active {
    opacity: 0.6;
}

.item-shopping-cart-products__remove-icon{
    display: block;
    width: 14px;
    line-height: 16px;
}



/* SHOPPING CART */
.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 256px;
    background-color: #fff;
    border-radius: 6px;
}

.shopping-cart--modal {
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

.shopping-cart__header {
    padding: 24px 24px 27px;
    border-bottom: 1px solid var(--devider-bg);
}

.shopping-cart__title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color-dark);
}

.shopping-cart__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.shopping-cart__empty{
    display: none;
}

.shopping-cart--empty .shopping-cart__empty{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.shopping-cart--empty{
    display: block;
}


/* SITE HEADER */
.site-header__container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--devider-bg);
}


/* .shopping-cart__content {
} */

.site-header__logo {
    flex-shrink: 0;
    margin-right: 56.5px;
}

.site-header__sitenav{
    margin-right: auto;
}

.shopping-cart--empty .shopping-cart__content{
    display: none;
}

/* SITE HADER CART */
.site-header__cart {
    margin-right: 46px;
    margin-left: 24px;
}

.site-header__cart-link {
    position: relative;
    display: flex;
    color: var(--text-color);
}

.site-header__cart-link:hover {
    color: var(--text-color-dark);
}

.site-header__cart-link:active {
    opacity: 0.6;
}

.site-header__cart-product-count{
    position: absolute;
    left: calc(100% - 13px);
    top: -6px;
    padding: 0 6px;
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    border-radius: 6.5px;
    background-color: var(--accent-color);
    color: #fff;
}

.site-header__cart--empty .site-header__cart-product-count{
    display: none;
}

.site-header__cart-icon {
    width: 22px;
    height: 20px;
    object-fit: contain;
}

/* USER PICTURE */
.site-header__profile-link {
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    overflow: hidden;
    border-radius: 50%;
}

.site-header__profile-link:hover {
    border-color: var(--accent-color);
}

.site-header__profile-link:active {
    opacity: 0.6;
}

.site-header__profile-avatar {
    width: 50px;
    height: 50px;
}


.site-header__cart-modal {
    display: none;
}

.site-header__cart-modal--open {
    display: block;
    position: absolute;
    right: -76px;
    top: 94px;
    width: 360px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}
