:root{
    --bg-color: #fff;
    --light-bg: #f6f8fd;
    --devider-bg: #e4e9f2;
    --accent-color: #ff7e1b;
    --accent-color-hover: #ffab6a;
    --accent-color-light: #ffeee2;
    --text-color: #697070;
    --text-color-dark: #1d2026;
    --body-font-family: "Kumbh Sans", "Arial", sans-serif;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}


*:focus{
    outline: 2px dashed var(--accent-color);
    outline-offset: 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--body-font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}


/* AUTHOFILL STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgb(52, 49, 61);
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}


/* LOGO */
.logo {
display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}


.logo__img {
    display: block;
    width: 137px;
    height: 20px;
    object-fit: contain;
}



/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* SITENAV */
.sitenav__list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item{
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link{
    display: block;
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover{
    color: var(--text-color-dark);
}

.sitenav__link:hover::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: '';
}


/* SITE HEADER */
.site-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--devider-bg);
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 56.5px;
}

.site-header__sitenav{
    margin-right: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}
